.articles-section {
    display: grid;
    grid-template-rows: auto auto 1fr;
    background-color: white;
    margin-top: 2rem;
    padding: 2rem;
  
    .articles-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      padding: 0 13rem;
  
      &-title {
        color: orange;
        font-size: 1rem;
        margin-bottom: 20px;
      }
  
      &-subtitle {
        color: #020023;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  
    .browse-articles-button {
      background-color: transparent;
      border: 2px solid black;
      border-radius: 50px;
      color: black;
      cursor: pointer;
      font-size: 1rem;
      padding: 12px 24px;
  
      &:hover {
        background-color: black;
        border-color: white;
        color: white;
      }
  
      i {
        margin-left: 10px;
        transform: rotate(-45deg);
      }
    }
  
    .articles-gallery {
      display: flex;
      gap: 1rem;
      justify-content: flex-start;
      margin-bottom: 1rem;
      padding: 0 13rem;
  
      .article {
        position: relative;
        text-align: center;
  
        .date-box {
          background-color: #f0e68c;
          color: black;
          font-weight: bold;
          left: 10px;
          padding: 10px;
          position: absolute;
          text-align: center;
          top: 10px;
  
          .day {
            font-size: 20px;
          }
  
          .month {
            font-size: 12px;
          }
        }
  
        img {
          width: 390px;
          height: 200px;
          object-fit: cover;
          margin-bottom: 0.5rem;
        }
  
        h2 {
          color: gray;
          font-size: small;
          margin: 0.5rem 0;
          text-align: left;
        }
  
        h3, p {
          margin: 0.5rem 0;
          text-align: left;
        }
      }
    }
  
    .dots {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      padding: 0 2rem;
  
      .dot {
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        transition: background-color 0.6s ease;
      }
    }
  
    @media (max-width: 768px) {
      .articles-header {
        flex-direction: column;
        padding: 0 1rem;
  
        &-title, &-subtitle {
          text-align: center;
        }
      }
  
      .browse-articles-button {
        margin-top: 1rem;
      }
  
      .articles-gallery {
        flex-direction: column;
        padding: 0 1rem;
        gap: 1rem;
  
        .article {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  