header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #f0efe9;
    position: relative;

    .header-left, 
    .header-right {
        display: flex;
        align-items: center;
    }

    .header-left {
        justify-content: flex-start;
        width: 30%;
        padding-left: 26rem;
    }

    .header-right {
        justify-content: flex-end;
        width: 30%;
    }

    .login-button {
        padding: 12px 24px;
        font-size: 1rem;
        border: none;
        border-radius: 50px;
        background-color: #f4ed6f;
        color: black;
        cursor: pointer;
        margin-right: 220px;

        .fas.fa-arrow-right {
            transform: rotate(-45deg);
        }

        &:hover {
            background-color: #f0e68c;
        }
    }

    .header-logo-container {
        position: absolute;
        top: 20%;
        left: 20%;
        transform: translate(-50%, -50%);

        .header-logo {
            width: 150px;
            height: auto;
        }
    }

    .navbar {
        display: flex;
        gap: 2rem;
        list-style-type: none;
        padding: 0;

        li {
            display: inline-flex;

            a {
                text-decoration: none;
                color: black;
                font-size: 1rem;
                transition: border-bottom 0.3s ease;

                &:hover {
                    border-bottom: 2px solid black;
                }
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 1rem;

        .header-left, 
        .header-right {
            width: 100%;
            padding: 0;
            justify-content: center;
        }

        .header-left {
            margin-top: 3rem;
        }

        .header-logo-container {
            top: 10%;
            left: 50%;
            margin-top: 1rem;
        }

        .login-button {
            margin-right: 0;
        }

        .navbar {
            justify-content: center;
            gap: 2rem;
            flex-wrap: wrap;
            margin-top: 1rem;
            margin-bottom: 1rem;

            li a {
                font-size: 1rem;
            }
        }
    }
}
