.hero {
    background-color: #f0efe9;
    margin-bottom: 2rem;
    position: relative;

    .curved-lines {
        position: absolute;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
    }

    .hero-content {
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 0 13rem 0 5rem;
        box-sizing: border-box;
    }

    .hero-text {
        flex: 1;
        max-width: 70%;
        padding-left: 170px;
        margin-right: 20px;
    }

    .hero-title {
        font-size: 72px;
        margin: 0;
        font-weight: bold;
        color: #020023;
    }

    .hero-subtitle {
        font-size: 18px;
        margin-top: 1rem;
        color: #555;
    }

    .hero-buttons {
        margin-top: 2rem;
        padding-top: 20px;
        display: flex;
    }

    .hero-button, .hero2-button {
        border: 1px solid black;
        background-color: transparent;
        color: black;
        padding: 12px 24px;
        font-size: 1rem;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 20px;
        transition: background-color 0.3s ease;
        margin-bottom: 5rem;
        
        .fas.fa-arrow-right {
            transform: rotate(-45deg);
        }
    }

    .hero-button {
        border: none;
        background-color: #f4ed6f;
        color: black;
        border: 1px solid #f4ed6f;

        &:hover {
            background-color: #f0e68c;
        }
    }

    .hero2-button {
        background-color: transparent;

        &:hover {
            background-color: #f0e68c;
        }
    }

    .hero-image {
        flex: 1;
        max-width: 40%;
        margin-left: 20px;
        text-align: center;
        display: flex;
        align-items: flex-end;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .hero {
        .hero-content {
            flex-direction: column;
            padding: 0px;
        }

        .hero-text, .hero-image {
            max-width: 100%;
            padding-left: 0;
            margin-right: 0;
            margin-left: 0;
            text-align: center;
        }

        .hero-title {
            font-size: 38px;
        }

        .hero-subtitle {
            font-size: 14px;
        }

        .hero-buttons {
            justify-content: center;
            margin-top: 0px;
        }

        .hero-button, .hero2-button {
            margin-right: 10px;
        }

        .curved-lines {
            width: 80%;
            left: 0%;
            bottom: 0;
            transform: none;
        }
    }
}
