* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .main {
    background: center / cover no-repeat url('Crito - Design and Images/images/background-lines-right.svg');
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: #f0efe9;
    position: relative;
  }
  
  .top-bar-divider {
    position: absolute;
    bottom: 0;
    left: 26%; 
    width: 59.5%; 
    border-top: 1px solid #b6b6b6; 
  }
  
  .top-bar-left, 
  .top-bar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .top-bar-left {
    flex: 1;
    padding-left: 25rem; 
  }
  
  .top-bar-right .top-bar-social-media-links {
    display: flex;
    gap: 15px;
    padding-right: 220px; 
    color: #020023;
  }
  
  .top-bar-right .top-bar-social-media-link {
    text-decoration: none;
    color: inherit;
  }
  
  .top-bar-right .top-bar-social-media-link:hover {
    color: inherit;
  }
  
  .top-bar-text {
    margin: 0 1rem;
    color: #555;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .top-bar-text:nth-child(2)::before {
    content: '';
    border-left: 1px solid #555; 
    height: 1em;
    margin: 0 0.5rem;
  }
  
  .top-bar-text i {
    font-size: 1rem;
  }
  
  .top-bar-social-media-link i {
    font-size: 1rem;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #f0efe9;
    position: relative;
  }
  
  .header-left,
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-left {
    justify-content: flex-start;
    width: 30%;
    padding-left: 26rem;
  }
  
  .header-right {
    justify-content: flex-end;
    width: 30%;
  }
  
  .login-button {
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    background-color: #f4ed6f;
    color: black;
    cursor: pointer;
    margin-right: 220px;
  }
  
  .login-button .fas.fa-arrow-right {
    transform: rotate(-45deg);
  }
  
  .login-button:hover {
    background-color: #f0e68c;
  }
  
  .header-logo-container {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  
  .header-logo {
    width: 150px;
    height: auto;
  }
  
  .navbar {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
  }
  
  .navbar li {
    display: inline-flex;
  }
  
  .navbar li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: border-bottom 0.3s ease;
  }
  
  .navbar li a:hover {
    border-bottom: 2px solid black;
  }
  
  .hero {
    background-color: #f0efe9;
    margin-bottom: 2rem;
    position: relative;
  }

  .curved-lines {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto; 
    height: auto; 
}

  .hero-content {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 13rem 0 5rem;
    box-sizing: border-box;
  }
  
  .hero-text {
    flex: 1;
    max-width: 70%;
    padding-left: 170px;
    margin-right: 20px;
  }
  
  .hero-title {
    font-size: 72px;
    margin: 0;
    font-weight: bold;
    color: #020023;
  }
  
  .hero-subtitle {
    font-size: 18px;
    margin-top: 1rem;
    color: #555;
  }
  
  .hero-buttons {
    margin-top: 2rem;
    padding-top: 20px;
    display: flex;
  }
  
  .hero-button, .hero2-button {
    border: 1px solid black;
    background-color: transparent;
    color: black;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 5rem;
  }
  
  .hero-button {
    border: none;
    background-color: #f4ed6f;
    color: black;
    border: 1px solid #f4ed6f;
  }
  
  .hero-button .fas.fa-arrow-right, .hero2-button .fas.fa-arrow-right, .learn-more-button .fas.fa-arrow-right {
    transform: rotate(-45deg);
  }
  
  .hero-button:hover {
    background-color: #f0e68c;
  }
  
  .hero2-button {
    background-color: transparent;
  }
  
  .hero2-button:hover {
    background-color: #f0e68c;
  }
  
  .learn-more-button {
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #f4ed6f;
    color: black;
    width: 400px;
    border: none;
    margin-left: 5rem;
  }
  
  .learn-more-button:hover {
    background-color: #f0e68c;
  }
  
  .learn-more-button .fas.fa-arrow-right {
    transform: rotate(-45deg);
  }
  
  .learn-more-button:hover {
    background-color: black;
    color: #fff;
  }
  
  .hero-image {
    flex: 1;
    max-width: 40%;
    margin-left: 20px;
    text-align: center;
    display: flex;
    align-items: flex-end;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
  
  .logo-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    margin-bottom: 1rem;
  }
  
  .features-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px; 
    align-items: start;
    border: 1px solid #ededed;
    padding: 60px 30px;
    margin: 2rem 100px;
  }
  
  .text-section {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    padding: 0 20px 0 30px;
    gap: 20px; 
  }
  
  .title-container, .textbox-section {
    display: grid;
    gap: 20px; 
  }
  
  .title-container {
    grid-template-rows: auto auto;
    align-items: flex-start;
    margin-right: 10rem;
  }
  
  .textbox-section {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    max-width: 80%;
    padding: 20px 10px;
  }
  
  .features-title, .features-subtitle, .feature-subtitle {
    margin-left: 5rem;
  }
  
  .features-title {
    font-size: 1rem;
    color: orange;
  }
  
  .features-subtitle {
    color: #020023;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }
  
  .textbox-title {
    margin: 0;
    font-weight: bold;
  }
  
  .textbox-text {
    margin: 0;
    margin-top: 1rem;
  }
  
  .textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
  }
  
  .icon-class {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    align-self: start;
  }
  
  .feature-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
  }
  
  .feature-image {
    position: relative;
    padding-left: 17rem;
    margin-right: 7rem;
  }
  
  .feature-subtitle {
    color: #020023;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  
  .feature-title {
    color: orange;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 2rem;
  }
  
  .blue-box {
    position: absolute;
    bottom: 7rem;
    left: 13rem;
    background-color: #b5e3ff;
    padding: 2rem;
    width: 80%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    color: black;
  }
  
  .blue-box .box-title {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: baseline;
  }
  
  .blue-box .box-subtitle {
    margin-left: 0.5rem;
    color: orange;
    font-size: 1rem;
  }
  
  .blue-box .box-text {
    font-size: 1em;
    margin-top: 0.5rem;
  }
  
  .feature-text {
    max-width: 500px;
  }
  
  .feature-description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
  }
  
  .button-container {
    display: flex;
    gap: 1rem;
    margin: 12rem 0 4rem;
  }
  
  .feature-button {
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .feature-button i {
    margin-left: 10px;
    transform: rotate(-45deg);
  }
  
  .feature-button:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
  }
  
  .feature-button-play {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    padding: 0; 
  }
  
  .play-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
  }
  
  .feature-button-play i {
    font-size: 1.2rem; 
  }
  
  .feature-button-play span {
    font-size: 1rem;
    padding-right: 20px;
  }
  
  .feature-button-play:hover {
    background-color: black;
    border-radius: 50px; 
    align-items: center; 
  }
  
  .feature-button-play:hover span {
    color: white;
    font-size: 1rem; 
  }
  
  .feature-button-play:hover i {
    color: white;
    font-size: 1.2rem; 
  }
  
  .feature-image img {
    height: 600px;
    width: 100%;
    margin: 4rem auto;
  }

  .consulting-section {
    background-color: #f0efe9;
    padding: 2rem 12rem;
    text-align: center;
    position: relative;
  }

  .curved-lines-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto; 
    height: auto; 
}
  
  .consulting-title,
  .consulting-subtitle {
    text-align: left;
    padding-left: 2rem;
  }
  
  .consulting-subtitle {
    color: #020023;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .consulting-title {
    color: orange;
    font-size: 1rem;
    margin: 2rem 0 20px 0;
  }

  .box-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
  }
  
  .title-underline {
    width: 30px; 
    height: 2px; 
    background-color: black; 
    margin-bottom: 1rem; 
  }
  
  .arrow-button {
    position: absolute;
    bottom: 10px; 
    right: 20px;
    background-color: black; 
    border: none;
    cursor: pointer;
    padding: 10px; 
    border-radius: 100%; 
  }
  .arrow-button i {
    color: white; 
    font-size: 1.5rem; 
  }

  .box {
    position: relative; 
    background-color: #fff;
    padding: 2rem;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  .box:hover {
    background-color: #f0e68c;
  }
  
  .box h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0; 
    text-align: left;
  }
  
  .box p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .browse-services-button {
    padding: 12px 24px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 50px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    margin: 20px 0 2rem; 
  }

  .browse-services-button i {
    transform: rotate(-45deg);
  }

  .browse-services-button:hover {
    background-color: black;
    color: white;
    border-color: white; 
  }
    
  .feature-reversed-section {
    display: flex;
    align-items: center;
    width: 100%; 
    margin: 0 auto 5rem;
    position: relative;
    padding-left: 12rem;
    box-sizing: border-box; 
  }
  
  .background-box {
    position: absolute;
    top: 35%; 
    bottom: 10%;
    right: 0; 
    width: 55%; 
    background-color: #f0efe9;
    z-index: -1;
  }

  .feature-text {
    flex: 1; 
    padding: 3rem;
  }
  
  .feature-reversed-subtitle {
    color: #020023;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }
  
  .feature-reversed-title {
    color: orange;
    font-size: 1em;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 2rem;
  }
    
  .icon-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .icon-item {
    display: flex;
    align-items: start;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .icon-item i {
    font-size: 1.5rem;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 50%;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  
  .icon-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .icon-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .feature-reversed-image {
    max-width: 600px;
    margin-left: 11rem;
  }
  
  .feature-reversed-image img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
  }

  .gallery-section {
    padding: 0 5rem;
  }

  .gallery-title {
    color: orange;
    font-size: 1rem;
    font-weight: bold;
    text-align: center; 
    margin-top: 1rem;
  }
  
  .gallery-subtitle {
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-top: 1.5rem;
    text-align: center; 
  }
    
  .gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .gallery-item {
    width: calc(40% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
  }
  
  .text-content {
    padding: 0 1rem;
    width: 100%;
  }
  
  .image-title {
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: left;
  }
  
  .image-hr {
    width: 100%;
    border: 0.5px solid #000;
    margin: 0.5rem 0;
  }
  
  .read-more-button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.8rem;
    align-self: flex-end;
  }
  
  .read-more-button i {
    margin-left: 10px;
    color: black;
    transform: rotate(-45deg);
  }
  
  .all-projects-button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1rem;
    margin: 2rem auto 5rem; 
    display: block; 
  }
  
  .all-projects-button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
  
  .all-projects-button i {
    margin-left: 10px;
    transform: rotate(-45deg);
  }

  .features-container,
  .consulting-section,
  .gallery-section {
    box-sizing: border-box;
  }
   
  .team-section {
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding: 2rem;
    background-color: rgba(240,208,130,0.93);
  }
  
  .team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13rem;
    margin-bottom: 2rem;
  }

  .team-header-title {
    color: orange;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    margin-top: 3rem;
  }
  
  .team-header-subtitle {
    color: #020023;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-align: left;
  }

  .browse-team-button {
    padding: 12px 24px;
    margin-top: 3rem;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 1rem;
    background-color: transparent;
    color: black;
    cursor: pointer;
  }
  
  .browse-team-button i {
    margin-left: 10px;
    transform: rotate(-45deg);
  }
  
  .team-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 11rem;
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 264px;
  }
  
  .team-member img {
    width: 100%;
    height: 360px; 
    object-fit: cover;
    margin-bottom: 0.25rem;
  }
  
  .team-member h3, .team-member p {
    margin: 0.25rem 0;
  }
  
  .team-member p {
    font-size: small;
  }

  .dots {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
  
  .dots .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    transition: background-color 0.3s;
    display: inline-block;
  }
  
  .dots .dot:hover {
    background-color: black;
  }
      
  .testimonials {
    display: grid;
    gap: 2rem;
    padding: 5rem;
    margin: 0 10rem 5rem;
    background-color: white;
    }

.testimonials .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials .title p {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: orange;
}

.testimonials .title h2 {
    font-size: 36px;
    margin: 0 0 20px;
    padding-bottom: 3rem;
    font-weight: bold;
    color: #020023;
}

.testimonials .testimonial-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.testimonials .testimonial {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.testimonials .testimonial .stars {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: orange;
}

.testimonials .testimonial p {
    margin-bottom: 1.5rem;
}

.testimonials .testimonial .client-info {
    display: flex;
    align-items: center;
}

.testimonials .testimonial .client-info .client-image {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
}

.testimonials .testimonial .client-info .client-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.client-name {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.client-title {
    font-size: 0.875rem;
    margin: 0;
    color: orange;
}

.testimonial-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.testimonial-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    margin: 1rem 0;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.testimonial-button:hover {
    background-color: grey;
}

.testimonial-button i.fas {
    margin-left: 10px;
    transform: rotate(-45deg);
}

  .articles-section {
    display: grid;
    grid-template-rows: auto auto 1fr;
    background-color: white;
    margin-top: 5rem;
    padding: 2rem;
  }
  
  .articles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 13rem;
  }

  .articles-header-title {
    color: orange;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .articles-header-subtitle {
    color: #020023;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .browse-articles-button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    padding: 12px 24px;
  }
  
  .browse-articles-button:hover {
    background-color: black;
    border-color: white;
    color: white;
  }
  
  .browse-articles-button i {
    margin-left: 10px;
    transform: rotate(-45deg);
  }
  
  .articles-gallery {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding: 0 13rem;
  }
  
  .article {
    position: relative;
    text-align: center;
  }
  
  .article .date-box {
    background-color: #f0e68c;
    color: black;
    font-weight: bold;
    left: 10px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 10px;
  }
  
  .article .date-box .day {
    font-size: 20px;
  }
  
  .article .date-box .month {
    font-size: 12px;
  }
  
  .article img {
    width: 390px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  
  .article h2 {
    color: gray;
    font-size: small;
    margin: 0.5rem 0;
    text-align: left;
  }
  
  .article h3, .article p {
    margin: 0.5rem 0;
    text-align: left;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 0 2rem;
  }
  
  .dots .dot {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    transition: background-color 0.6s ease;
  }

  .subscribe-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 15rem;
    background-color: #f0efe9;
    width: 100%;
}

.subscribe-content {
    flex-grow: 1; 
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.subscribe-image {
    max-width: 200px;
    height: auto;
    position: absolute;
    margin-top: 6rem;
    right: 0; 
}
  
  .subscribe-text {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
  }
  
  .subscribe-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .subscribe-input {
    width: 15rem;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
  }
  
  .subscribe-button {
    display: flex;
    align-items: center;
    padding: 14px 24px;
    font-size: 1rem;
    color: black;
    background-color: #f4ed6f;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .subscribe-button:hover {
    background-color: #f0e68c;
  }
  
  .subscribe-button i {
    margin-left: 10px;
    transform: rotate(-45deg);
  }
  
  .footer {
    background-color: #0e1021;
    color: gray;
    position: relative;
  }

  .footer-bg-image {
    position: absolute;
    bottom: 3.7rem;
    right: 0;
    z-index: 1;
}

  .footer-content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 220px;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  
  .footer-column-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
  }
  
  .footer-logo-img {
    margin-bottom: 10px;
  }
  
  .footer-column a,
  .footer-column p {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  .footer-column a:link, 
  .footer-column a:visited {
    color: gray;
  }
  
  .footer a:hover {
    color: #ccc;
    text-decoration: none;
  }
  
  .copyright-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 220px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .copyright-section p {
    color: gray;
  }
  
  .social-media-links {
    display: flex;
    gap: 20px;
  }
  
  .social-media-links a {
    color: #fff;
  }
  