.subscribe-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 15rem;
    background-color: #f0efe9;
    width: 100%;
  
    .subscribe-content {
      flex-grow: 1;
      display: grid;
      align-items: center;
      grid-template-columns: 2fr 1fr;
      gap: 20px;
    }
  
    .subscribe-image {
      max-width: 200px;
      height: auto;
      position: absolute;
      margin-top: 6rem;
      right: 0;
    }
  
    .subscribe-text {
      margin: 0;
      font-size: 36px;
      font-weight: bold;
    }
  
    .subscribe-input-group {
      display: flex;
      align-items: center;
      gap: 10px;
  
      .subscribe-input {
        width: 15rem;
        padding: 12px;
        font-size: 16px;
        border: none;
        border-radius: 15px;
      }
    }
  
    .subscribe-button {
      display: flex;
      align-items: center;
      padding: 14px 24px;
      font-size: 1rem;
      color: black;
      background-color: #f4ed6f;
      border: none;
      border-radius: 50px;
      cursor: pointer;
  
      &:hover {
        background-color: #f0e68c;
      }
  
      i {
        margin-left: 10px;
        transform: rotate(-45deg);
      }
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 50px 1rem;
      position: relative;
  
      .subscribe-content {
        grid-template-columns: 1fr;
        text-align: center;
        z-index: 2;
      }
  
      .subscribe-image {
        position: absolute;
        max-width: 100px;
        bottom: 0;
        right: 0;
        transform: none;
        z-index: 1;
        margin: 0;
      }
  
      .subscribe-text {
        font-size: 24px;
      }
  
      .subscribe-input-group {
        flex-direction: column;
        gap: 15px;
  
        .subscribe-input {
          width: 100%;
          margin-bottom: 10px;
        }
      }
  
      .subscribe-button {
        padding: 12px 20px;
        width: 100%;
      }
    }
  }
  