.team-section {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 2rem;
    padding: 2rem;
    background-color: rgba(240,208,130,0.93);
}

.team-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0 13rem;
}

.team-header-title {
    color: orange;
    font-size: 1rem;
    margin: 3rem 0 1.25rem;
    font-weight: bold;
}

.team-header-subtitle {
    color: #020023;
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0 0 1.25rem 0;
}

.browse-team-button {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    margin-top: 3rem;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 1rem;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.browse-team-button i {
    margin-left: 0.625rem;
    transform: rotate(-45deg);
}

.team-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    gap: 1rem;
    padding: 0 11rem;
}

.team-member {
    text-align: left;
}

.team-member img {
    width: 100%;   
    height: 21.875rem; 
    object-fit: cover;
    margin-bottom: 0.25rem;
}

.team-member h3, .team-member p {
    margin: 0.25rem 0;
}

.team-member p {
    font-size: small;
}

.dots {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.dots .dot {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.3125rem;
    background-color: gray;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.dots .dot:hover {
    background-color: black;
}

@media (max-width: 768px) {
    .team-header {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }

    .team-header-title {
        margin-top: 1rem;
        text-align: center;
    }

    .team-header-subtitle {
        margin-top: 0.5rem;
        text-align: center;
    }

    .browse-team-button {
        margin-top: 1.5rem;
        justify-self: center;
    }

    .team-gallery {
        padding: 0 1rem;
        gap: 0.5rem;
    }

    .team-member img {
        height: 31.25rem;
    }

    .dots {
        margin-bottom: 1rem;
    }
}
